body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

/*header*/
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.navigation-webstudio {
}
.nav-link-header,
.nav-link-header-studio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-style {
  color: #2e2f42;
}
.nav-link-header:hover,
.list-address-tel-mail:hover,
.nav-link-header:focus,
.list-address-tel-mail:focus {
  color: #404bbf;
}

.nav-webstudio-list {
}
.navigation-webstudio-list {
}
.address-nav-header {
  font-style: normal;
}
.list-address-header {
}
.list-address {
}
.list-address-tel-mail {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
/*header*/
/*section hero*/
.hero {
  background-color: #2e2f42;
}
.hero-h {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.button-hero {
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.button-hero:hover {
  background-color: #404bbf;
}
.button-hero:focus {
  background-color: #404bbf;
}
/*section hero*/

/*fearures*/
.features {
}

.features-h {
}
.features-list {
}
.list-features-item {
}
.list-header-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.message-features {
  letter-spacing: 0.02em;
  color: #434455;
}
/*fearures*/

/*our team*/
.section-our-team {
  background-color: #f4f4fd;
}
.our-team-header {
}

.our-team-table {
}
.our-team-table-list {
  background-color: #ffffff;
}
.team-img {
}
.team-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/*our team*/

/*portfolio*/

.our-portfolio {
}
.our-portfolio-header {
}
.section-header {
}
.table-portfolio {
}
.portfolio-list {
}
.portfolio-img {
}
.portfolio-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  letter-spacing: 0.02em;
  color: #434455;
}

/*portfolio*/

/*footer*/
.footer {
  background-color: #2e2f42;
}
.footer .logo-style {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/*footer*/
